extends layout 

block content 
    .form-container 
        h1.form-title= title 
        form(method='POST')
            label(for="category_name") Category Name
            input.form-input(type="text" minLength=2 placeholder="(eg. Shoes)" required name="category_name" value=(undefined == category ? '' : category.name))
            label(for="category_description") Category Description
            input.form-input(type="text" minLength=3 placeholder="(eg. Best Shoes Quality)" required name="category_description" value=(undefined == category ? '' : category.description))
            button(type="submit").btn Create
        
        if errors 
            ul 
                each error in errors 
                    li.error= error.msg
                