extends layout

block content
  .info
    h1 Inventory Panel!
    p.description Welcome to #{title}, this panel allows you to manage our stock. 
    p.stat Items: #{itemCount}
    p.stat Categories: #{categoryCount}
